.hero {
	&__image {
		display: block;
		width: auto;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 25px;
	}
	&__rating {
		display: flex;
		justify-content: space-between;
		position: relative;
		&::before {
			content: "Хуже некуда";
			position: absolute;
			left: 0;
			bottom: -20px;
			color: #bfc9d4;
		}
		&::after {
			content: "Отлично";
			position: absolute;
			right: 0;
			bottom: -20px;
			color: #bfc9d4;
		}
	}
	&__rate {
		cursor: pointer;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 1px solid #1f73f9;
		transition: all 0.2s ease-in-out;
		&.active {
			border-color: #fff;
		}
		&:hover {
			transform: translateY(-4px);
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__text {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 15px;
		}
		&__rating {
			display: grid;
			max-width: 220px;
			margin: 0 auto;
			grid-template-columns: repeat(5, 1fr);
			gap: 10px 5px;
			&::before {
				left: -30px;
				bottom: -30px;
			}
			&::after {
				right: -30px;
				bottom: -30px;
			}
		}
	}
}
