.questions {
	&__inner {
		margin-top: 20px;
		background-image: url("../assets/questions-bg.png");
		background-repeat: no-repeat;
		background-position: right -10px bottom 100px;
		padding-bottom: 25px;
	}
	&__item {
		margin-bottom: 30px;
	}
	&__item-flex {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
	&__item-text {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	&__text {
		margin-bottom: 30px;
		color: #bfc9d4;
		font-size: 17px;
		line-height: 22px;
	}
	&__rate {
		cursor: pointer;
		width: 200px;
		height: 40px;
		padding: 10px 16px;
		display: flex;
		align-items: center;
		border-radius: 20px;
		border: 1px solid #1f73f9;
		transition: all 0.2s ease-in-out;
		&.active {
			border-color: #fff;
		}
		&:hover {
			transform: translateY(-4px);
		}
	}
}

@media (max-width: 992px) {
	.questions {
		&__inner {
			background-image: none;
		}
	}
}
